@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-size: normal;
    font-display: swap;
}

/* Bakcground 
botoes
Cores de texto */

:root {
    --primary-color: #8f0101;
    --secondary-color: #b81515;

    --background-primary-color: #ffffff;
    --background-secondary-color: #f5f5f5;
    --background-tertiary-color: #000000;

    --text-primary-color: #222222;
    --text-secondary-color: #ffffff;

    --titles-weight: 700;
    --text-weight: 400;
    --menu-text-weight: 500;
    }

/* CSS RESET */
body,
img,
h1,
p fieldset,
label,
select,
textarea,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Montserrat";
    font-weight: var(--text-weight);
    color: var(--primary-color);
}

body{
    font-family: "Montserrat";
    color: var(--text-primary-color);
}

section{
    width: 312px;
    margin: 0 auto 88px;

}

section.hero{
    width: 100%;
    margin: 0;
}

.section-title {
    margin-bottom: 32px;
    width: 280px;
    margin: 0 auto;
}

.section-title h2{
    font-size: 28px;
    font-weight: var(--titles-weight);
    margin: 0;
    text-align: center;
}

.section-title hr{
    width: 180px;
    height: 4px;
    background-color: var(--secondary-color);
    border: none;
    margin: 16px auto 32px ;
}

.content-title{
    line-height: 34px;
    font-size: 28px;
    font-weight: var(--titles-weight);
}

.content-text{
    line-height: 32px;
    font-size: 20px;
    font-weight: var(--text-weight);
}

.button{
    width: 280px;
    height: 64px;
    color: var(--text-secondary-color);
    font-weight: var(--titles-weight);
    font-size: 20px;
    background-color: var(--secondary-color);
    border-radius: 19px;
    display: inline-block;
    text-decoration: none;
    line-height: 64px;
}



@media screen and (min-width: 768px) {
    section{
        width: 648px;
        margin: 0 auto;
    }


    .section-title h2{
        font-size: 32px;
    }
    
    .section-title {
        width: 100%;
    }


}

@media screen and (min-width: 1024px){
    section{
        width: 900px;
        margin: 0 auto;
    }


    .section-title {
        width: 100%;
    }

    .button:hover{
        background-color: var(--primary-color);
    }
}

@media screen  and (min-width:1440px){
    section{
        width: 1200px;
        margin: 0 auto;
    }

    .section-title {
        width: 100%;
    }

}