header {
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 38px 48px;
}

.logo {
    display: inline-block;
    width: 68px;
    height: 64px;
}

nav {
    display: none;
}

.navigation-menu {
}

input[type="checkbox"]:checked ~ nav{
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: var(--background-tertiary-color);
}

.list-links{
    list-style: none;
}

.list-links li{
    margin: 16px 0;
}

.list-links li a{
    color: var(--background-secondary-color);
    text-decoration: none;
}