.hero-img{
    height: 400px;
    width: 100%;
    background: url(../img/hero-mobile.png) no-repeat;
    background-size: cover;  
}
/* 24 - 60 - 120
88 - 88 - 104 */
.hero h2{
    padding:88px 24px;
    margin: 0px;
    font-weight: var(--text-weight);
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .hero-img{
        height: 620px;
        background: url(../img/hero-tablet.png) no-repeat;
        background-size: cover;  
    }

    .hero h2{
        padding:88px 60px;
    }
}

@media screen and (min-width: 1024px) {
    .hero-img{
        background: url(../img/hero-desktop.png) no-repeat;
        background-size: cover;  
    }

    .hero h2{
        padding:104px 120px;
    }
}

@media screen and (min-width: 1920px) {

    .hero h2{
        padding:104px 160px;
    }
}