
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-size: normal;
    font-display: swap;
}


/* Bakcground 
botoes
Cores de texto */

:root{

    --primary-color: #8f0101;
    --secondary-color: #b81515;


    --background-primary-color: #ffffff;
    --background-secondary-color: #f5f5f5;
    --background-tertiary-color: #000000;

    --text-primary-color: #222222;
    --text-secondary-color: #FFFFFF;

    --titles-weight: 700;
    --text-weight: 400;
    --menu-text-weight:500 


}

/* CSS RESET */
body, img, h1, p fieldset, label, select, textarea, button{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: "Montserrat";
    font-weight: var(--text-weight);
    color: var(--primary-color);
}

