.testimonial-container{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.testimonial-container article header p{
    font-size: 16px;
    line-height: 28px;
}

.testimonial-container article footer{
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}

.testimonial-container footer img{
    height: 86px;
    width: 86px;
}

.testimonial-container footer .profile-content h4{
    font-size: 20px;
    line-height: 32px;
    font-weight: var(--titles-weight);
    margin: 0 0 8px 0;
}

.testimonial-container footer .profile-content .rating .star{
    line-height: 32px;
    font-size: 32px;
    color: var(--secondary-color);
}

@media screen and (min-width: 1440px) {
    .testimonial-container{
        flex-direction: row;
    }
}